<% include ./partials/header %>

<div class="row">
    <div class="col-md-12 text-center">
        <form class="form-signin" action="/register" method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
              
              <label for="inputUsername" class="sr-only">Username</label>
              <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
              
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
              
              <label for="firstName" class="sr-only">First Name</label>
              <input type="text" id="firstName" class="form-control" name="firstName" placeholder="first name">
              
              <label for="lastName" class="sr-only">Last Name</label>
              <input type="text" id="lastName" class="form-control" name="lastName" placeholder="last name">
              
              <label for="email" class="sr-only">Email</label>
              <input type="email" id="email" class="form-control" name="email" placeholder="john@doe.com" required>
              
              <label for="adminCode" class="sr-only">Code</label>
              <input type="text" id="adminCode" class="form-control" name="adminCode" placeholder="code (if provided)">
              
              <button class="btn btn-lg btn-primary btn-block submit" type="submit">Sign Up!</button>
        </form>
        <div class="form-signin text-left">
              <a href="/campgrounds">Go Back</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>