<% include ../partials/header %>

    <div class="row justify-content-center">
        <div class="col-md-12 text-center header">
            <h1 class="h3 mb-3 font-weight-normal"></h1>Add New Comment to <%= campground.name %></h1>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form action="/campgrounds/<%= campground._id %>/comments" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" placeholder="text">  
                </div>           
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </form>
            <a class="float-left" href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>

<% include ../partials/footer %>