<% include ../partials/header %>

    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1 class="h3 mb-3 font-weight-normal">Edit Comment</h1>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>"> 
                </div>           
                <button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
            </form>
            <a class="float-left" href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>
    </div>

<% include ../partials/footer %>